server {
   listen 80;

   server_name ${SERVER_NAME};

   location / {
       return 301 https://$host$request_uri;
   }
  
   location /.well-known/acme-challenge/ {
       root /var/www/certbot;
   }
}

server {
   listen 443 ssl;

   server_name ${SERVER_NAME};

   ssl_certificate ${SSL_CERTIFICATE};
   ssl_certificate_key ${SSL_CERTIFICATE_KEY};

   location / {
        # misc headers
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host; 
        proxy_set_header Host $host;

        proxy_http_version 1.1;

        # we don't want nginx trying to do something clever with
        # redirects, we set the Host: header above already.
        # proxy_redirect off;
        proxy_pass http://${FRONTEND_HOST}:${FRONTEND_PORT};
   }

   location /api {
       # Rewrite /api prefixed matched paths
        rewrite ^/api(/.*)$ $1 break;

        # misc headers
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host; 
        proxy_set_header Host $host;

        # need to use 1.1 to support chunked transfers
        proxy_http_version 1.1;
        proxy_buffering off;

        # we don't want nginx trying to do something clever with
        # redirects, we set the Host: header above already.
        # proxy_redirect off;
        proxy_pass http://${BACKEND_HOST}:${BACKEND_PORT};
   }

   location /adminer {
       proxy_pass http://${ADMINER_HOST}:${ADMINER_PORT};
       proxy_set_header Host $host;
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
       proxy_set_header X-Forwarded-Proto $scheme;
   }

   location /llm {
      # Rewrite /llm prefixed matched paths
        rewrite ^/llm(/.*)$ $1 break;
       proxy_pass http://${LLM_HOST}:${LLM_PORT};
       proxy_set_header Host $host;
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
       proxy_set_header X-Forwarded-Proto $scheme;
   }
}
